OoklaServer.tcpPorts = 5060,8080
OoklaServer.udpPorts = 5060,8080
OoklaServer.useIPv6 = true

OoklaServer.allowedDomains = *.ookla.com, *.speedtest.net

OoklaServer.maxThreads = 512

OoklaServer.enableAutoUpdate = true

OoklaServer.ssl.useLetsEncrypt = true

# openSSL.server.certificateFile = cert.pem
# openSSL.server.privateKeyFile = key.pem

logging.loggers.app.name = Application
logging.loggers.app.channel.class = ConsoleChannel
logging.loggers.app.channel.pattern = %Y-%m-%d %H:%M:%S [%P - %I] [%p] %t
logging.loggers.app.level = information
