[Unit]
Description=Ookla Server service
After=network.target

[Service]
Type=simple
User=ookla
ExecStart={{ ookla_directory }}/OoklaServer
# ExecStop=/usr/bin/pkill --pidfile {{ ookla_directory }}/OoklaServer.pid
ExecStop=/usr/bin/kill -9 $MAINPID
TimeoutStopSec=30
SendSIGKILL=yes
PIDFile={{ ookla_directory }}/OoklaServer.pid

[Install]
WantedBy=multi-user.target
